<% include ../partials/header %>

<div class="container-fluid w-75 pt-5 customLogForm px-0">
  <div class="container-fluid px-0 pb-3">
    <a class="btn btn-info btn-lg" href="/home/<%= item._id %>"
      ><i class="far fa-arrow-alt-circle-left fa-lg"></i> Back</a>
  </div>
  <form
    action="/home/<%= item._id %>?_method=PUT"
    method="POST"
    class="form-post mx-auto"
  >
    <h1 class="h3 mb-3 font-weight-normal text-center">
      <strong>Edit <%= item.name %></strong>
    </h1>
    <input
      type="text"
      id="inputname"
      class="form-control mb-3"
      name="item[name]"
      value="<%= item.name %>"
      required
      autofocus
    />
    <input
      type="number"
      min="0.10"
      step="0.10"
      id="inputPrice"
      class="form-control mb-3"
      value="<%= item.price %>"
      name="item[price]"
      required
      autofocus
    />
    <input
      type="text"
      id="inputImage"
      class="form-control mb-3"
      name="item[image]"
      value="<%= item.image %>"
      required
    />
    <label>Description:</label>
    <textarea class="form-control mb-3" name="item[description]" rows="5"><%= item.description %></textarea>

    <button class="btn btn-lg btn-info btn-block" type="submit">
      Submit
    </button>
  </form>
</div>

<% include ../partials/footer %>
